//
//  .gitignore
//  Cookly
//
//  Created by TOPAL Mahmut-Ali on 05/11/2025.
//

xcuserdata/
*.xcuserstate
Cookly.xcodeproj/project.xcworkspace/xcuserdata/mt254663.xcuserdatad/UserInterfaceState.xcuserstate
